<%- include ('./partials/header') %>

<% results.forEach(result => { %>
<div class="container">
    <section id="main">
        <h3 class="ml-3 title-pagination"><%= result.title %></h3>
        <p class="ml-3"><%= result.date %></p>
        <img src="<%= result.image %>" class="ml-3" style="width: 530px;">
        <p class="text-pagination text-justify"><%- result.text %></p>
    </section>
</div>
<% }) %>