<!-- FOOTER
   ================================================== -->
<div class="container">
    <section id="footer">
        <div class="row">
            <div class="col-sm-4">
                <h3>About Nordic Barista Cup</h3>
                <p>The vision within the Nordic Barista Cup is:</p>
                <p class="vision">“To create an environment in which knowledge about coffee and its sphere can be
                    obtained”</p>
                <p>’...create an environment…’
                    Combined with personally absorption having the opportunity to see and experience countries,
                    people, traditions etc. will always serve as a source of inspiration in our daily work.
                    The organization behind the Nordic Barista Cup see it as its main purpose to be a part of
                    creating this forum in which people can meet, bond and achieve further knowledge.</p>
            </div>
            <div class="col-sm-4">
                <h3>NBC Flickr Stream</h3>

                <div class="photo-stream">

                    <div class="row">
                        <div class="col-xs-4 photo">
                            <a href="#"><img src="/images/flickr/photo1.png" alt=""></a>
                        </div>
                        <div class="col-xs-4 photo">
                            <a href="#"><img src="/images/flickr/photo2.png" alt=""></a>
                        </div>
                        <div class="col-xs-4 photo">
                            <a href="#"><img src="/images/flickr/photo3.png" alt=""></a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-4 photo">
                            <a href="#"><img src="/images/flickr/photo4.png" alt=""></a>
                        </div>
                        <div class="col-xs-4 photo">
                            <a href="#"><img src="/images/flickr/photo5.png" alt=""></a>
                        </div>
                        <div class="col-xs-4 photo">
                            <a href="#"><img src="/images/flickr/photo6.png" alt=""></a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-4 photo">
                            <a href="#"><img src="/images/flickr/photo7.png" alt=""></a>
                        </div>
                        <div class="col-xs-4 photo">
                            <a href="#"><img src="/images/flickr/photo8.png" alt=""></a>
                        </div>
                        <div class="col-xs-4 photo">
                            <a href="#"><img src="/images/flickr/photo9.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <h3>Contact</h3>
                <p class="vision">Nordic Barista Cup</p>
                <p>Amagertorv 13<br>
                    1160 Copenhagen K<br>
                    <a href="tel:+4533120428">+45 33 12 04 28</a><br>
                    CVR: 11427693<br>
                    Email: <a href="mailto:bbrend@nordicbaristacup.com">bbrend@nordicbaristacup.com</a>
                </p>
                <div class="social-icon">
                    <ul>
                        <li>
                            <a href="#"><img src="/images/icons/twitter.png" alt=""></a>
                        </li>
                        <li>
                            <a href="#"><img src="/images/icons/facebook.png" alt=""></a>
                        </li>
                        <li>
                            <a href="#"><img src="/images/icons/spotify.png" alt=""></a>
                        </li>
                        <li>
                            <a href="#"><img src="/images/icons/flame.png" alt=""></a>
                        </li>
                        <li>
                            <a href="#"><img src="/images/icons/mail.png" alt=""></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <div class="shadow">
        <img src="img/body-shadow.png" alt="">
    </div>
</div>