<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= title %></title>


    <!-- bootstrap-->
    <link rel="stylesheet" href="/bootstrap.css">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/style.css">


</head>

<body>

    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v7.0"
        nonce="VLPjY97f"></script>

    <!-- NAVBAR
		================================================== -->
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand" href="/"><img class="img-fluid" src="/images/logo.png" alt=""></a>
            <div class="d-flex justify-content-end">
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!------ search ------->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="search-block">
                        <div class="search-field d-flex justify-content-center">
                            <form class="form-group my-2 my-lg-0 inner-addon left-addon">
                                <i class="fa fa-search" aria-hidden="true"></i>
                                <input class="form-control mr-sm-2" type="text" placeholder="Search..."
                                    aria-label="Search">
                            </form>
                        </div>
                    </div>

                    <!------ search ------->

                    <!------ nav ------->
                    <div class="nav-block">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="#">ABOUT NBC<span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">2011 EVENT</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">NORDIC ROASTER</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">RESULTS</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">LINKS</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">CONTACT</a>
                            </li>
                        </ul>
                    </div>
                    <!------ nav ------->
                </div>
        </nav>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>